@import 'tailwindcss';

@plugin 'daisyui' {
  themes: light --default, dark --prefersdark, lightgreen;
  root: ":root"
}

@plugin "daisyui/theme" {
  name: "lightgreen";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: #f0f0f1;
  --color-base-300: oklch(87% 0.006 286.286);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #27ae60;
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(90% 0.182 98.111);
  --color-secondary-content: oklch(21% 0.006 285.885);
  --color-accent: oklch(62% 0.214 259.815);
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(77% 0.152 181.912);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.003 247.858);
  --color-warning: #e67e22;
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: #e74c3c;
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

html, body {
  height: auto;
  min-height: 100vh;
  background-color: var(--color-base-100);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined.filled {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}